    body {
        background-color: Gainsboro;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
    }

    h2 {
        color: darkred;
    }

    .info {
        color: mediumblue;
    }

    .infor {
        color: mediumblue
    }


    img {
        border-radius: 20px;
    }

a {
    text-decoration: none;
    color: black;
}


button {
    display: flex;
    margin: 0 auto;
    border: 3px solid gold;
    background-color: chocolate;
    color: black;
    font-size: 24px;
    padding: 20px;
    border-radius: 15px;
}
